.fullWidth {
    height: 100px;
    width: 100%;
}

.postBox {
    border: 1px dashed gray;
    width: 100%;
    height: 60px;
    padding: 1vw;
}

.customTextarea {
    border: 0;
    width: 100%;
}

.customTextarea:focus,
.customTextarea:active {
    border: 0;
}

.rightDiv {
    height: 50px;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

    align-items: center;
    justify-content: center;
}