.fullWidth {
    height: 100px;
    width: 100%;
}

.postBox {
    border: 1px dashed gray;
    width: 100%;
    height: 100px;
    padding: 1vw;
}

.customTextarea {
    border: 0;
    width: 100%;
}

.customTextarea:focus,
.customTextarea:active {
    border: 0;
}

.rightDiv {
    height: 80px;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

    align-items: center;
    justify-content: center;
}

.click {
    cursor: pointer;
}

/* Comment Section Styling */
.comment-box-wrapper{
    display:flex; 
    flex-direction:column;
    width:100%;
    margin:5px 0px;
}
.comment-box{
    display:flex; 
    width:100%;
}
.comment-box a{
    color:#242475;
}
.commenter-image{
    height:40px;
    width:40px;
    border-radius:50%;
}
.comment-content{
    display:flex; 
    flex-direction:column;
    background:#f2f3f5;
    margin-left:5px;
    padding:4px 20px;
    border-radius:10px;
}

.commenter-head{
    display:block;
}

.commenter-head .commenter-name{
    font-size:0.9rem;
    font-weight:600;
}

.comment-date{
    font-size:0.7rem;
}

.comment-date i {
   margin:0 5px 0 10px;
}

.comment-body{
    padding:0 0 0 5px;
    display:flex;
    font-size:1rem;
    font-size:0.8rem;
    font-weight:400;
}

.comment-footer{
    font-size:0.8rem;
    font-weight:600;
}

.comment-footer span{
   margin:0 15px 0 0;
}

.comment-footer span a{
   margin:0 0px 0 2px;
}

.nested-comments{
    margin-left:50px;
}